$main-width: 940px
$transition-duration: 0.2s
$black: #000024
$white: #fff
$yellow: #fed51f
$blue: #00a1ff
$light-blue: #00d8f6
$grey: #838383
$sprite: url('../img/sprite.png')

a
	color: $white
	&:hover
		text-decoration: none
h1,
.h1
	font-size: 60px
	margin-top: 40px
	margin-bottom: 20px
	font-weight: bold
h2,
.h2
	font-size: 39px
	margin-top: 40px
	margin-bottom: 20px
	font-weight: bold

.body
	background: $black
	color: $white
	font-family: Verdana
	font-size: 14px
	position: relative
	&__float-left
		float: left
	&__float-right
		float: right
	&__table
		width: 100%
		display: table
		table-layout: fixed
	&__table-cell
		display: table-cell
		text-align: center
		vertical-align: middle
	&__center
		margin-left: auto
		margin-right: auto
		text-align: center
	&__uppercase
		text-transform: uppercase
	&__h2-big
		font-size: 50px
	&__h2-margin
		margin-left: 80px
	&__h1-hide
		position: absolute
		top: -10000px
	&__button
		display: table
		margin: 0 auto
		text-align: center
		cursor: pointer
		text-decoration: none
		&_min-blue
			width: 206px
			height: 47px
			background: $sprite
			background-position: 0px -144px
			line-height: 33px
			color: $white
			border: 0
			outline: none
			&:hover
				background-position: -206px -144px
				color: $white
		&_max-blue
			width: 441px
			height: 69px
			background: $sprite
			background-position: 0px -26px
			line-height: 33px
			color: $white
			border: 0
			outline: none
			font-size: 24px
			&:hover
				background-position: -441px -26px
				color: $white
		&_yellow
			background: $yellow
			color: $black
			border: 3px solid $yellow
			border-radius: 100px
			padding: 12px 60px
			transition-duration: $transition-duration
			&:hover
				background: transparent
				color: $white
	&__ss
		width: 29px
		height: 29px
		background: $sprite
		display: table
		float: left
		margin: 9px
		&_vk
			background-position: 0px -191px
		&_insta
			background-position: -29px -191px
	&__ss-min
		width: 19px
		height: 19px
		margin: 5px
		background-size: 556px auto
		&_vk
			background-position: 0px -120px
		&_insta
			background-position: -19px -120px
	&__underline-blue
		text-decoration: none
		position: relative
		padding: 3px 0 6px
		&:before
			content: ""
			width: 100%
			height: 3px
			position: absolute
			bottom: 1px
			left: 0px
			background-image: linear-gradient(90deg, $light-blue, $blue 100%)
		&_h2
			display: table
			padding-bottom: 20px
	&__text-big
		font-size: 21px
	&__text-medium
		font-size: 18px
	&__text-blue
		color: $blue
	&__text-light-blue
		color: $light-blue
	&__lh20
		line-height: 20px
	&__no-bold
		font-weight: normal
	&__video
		background: black
		margin-bottom: 12px
.wrapper
	position: relative
	margin: 0 auto
.spots
	width: $main-width
	margin: 0 auto
	&__position
		position: absolute
	&__item-layer
		background: $sprite
		background-size: 441px
		background-position: 0 -141px
		width: 370px
		height: 368px
		&_main
			width: 740px
			height: 735px
			background: $sprite
			background-position: 0 -283px
	&__item
		position: absolute
		width: 370px
		height: 368px
		&_1
			position: absolute
			width: 740px
			height: 735px
			top: 35px
			left: 100px
		&_2
			top: 1420px
			left: 0px
		&_3
			top: 2130px
			left: 0px
		&_4
			top: 2820px
			left: 0px
		&_5
			top: 3870px
			left: -95px
		&_6
			top: 4670px
			left: 390px
		&_7
			top: 5430px
			left: -140px
		&_8
			top: 6285px
			left: 300px
		&_9
			top: 7330px
			left: 290px
.header
	width: $main-width
	margin: 0 auto
	&__info
		margin-top: 40px
	&__info-left
		width: 50%
		float: left
	&__info-right
		width: 50%
		float: right
		text-align: right
	&__phone
		font-size: 21px
		color: $white
		text-decoration: none
	&__logo
		margin-top: 40px
		text-align: center
	&__nav
		margin-top: 40px
.content
	width: $main-width
	margin: 0 auto
	position: relative
.footer
	width: $main-width
	margin: 0 auto
	position: relative
	margin: 375px auto 60px
	&__ss
		position: absolute
		top: -15px
		left: 550px
.section
	margin: 90px 0 150px
	display: table
	width: 100%
.slider
	position: relative
	margin-top: 25px
	&__bxslider
		margin: 0
	&__nav-button
		position: absolute
		background: $sprite
		width: 33px
		height: 63px
		top: 42%
		&_prew
			background-position: 0px -220px
			left: 80px
		&_next
			background-position: -33px -220px
			right: 80px
	/* freeman bx-slider */
	& .bx-prev,
	& .bx-next
		display: table
		width: 100%
		height: 100%
	& .bx-wrapper
	    background: none
	    margin: 0 auto
	    border: 0
	    box-shadow: 0 0 0
	/* END freeman bx-slider */
/* freeman freepopup */
.freepopup-c
	display: none
	&__bg
		width: 100%
		height: 100%
		background: $black
		opacity: 0.9
		position: fixed
		top: 0px
		left: 0px
		z-index: 999
	&__content
		width: 100%
		height: 100%
		position: fixed
		top: 0px
		left: 0px
		z-index: 999
	&__content-width
		position: relative
		width: 575px
		margin: 100px auto 0
	&__content-width-thank-you
		width: $main-width
		margin-top: 35%
	&__close
		width: 26px
		height: 25px
		background: $sprite
		background-position: -44px -1035px
		position: absolute
		top: -50px
		right: 0px
		cursor: pointer
.form
	display: table
	width: 575px
	margin: 0 auto
	&__text
		margin-left: 40px
	&__text-section
		margin-top: 65px
	&__input
		background: $white
		border-radius: 100px
		padding: 23px 40px
		color: $black
		border: 0
		width: 100%
		box-sizing: border-box
		outline: none
.freepopup-html
	overflow: hidden
    width: auto
/* END freeman freepopup */
.how-do-we-work
	position: relative
	margin: 65px auto
	display: table
	width: 100%
	&__step
		width: 33%
		float: left
	&__step-content
		display: table
	&__step-num
		display: table
		border: 1px solid $blue
		font-size: 38px
		text-align: center
		border-radius: 100px
		padding: 26px 36px
		margin: 0 auto
	&__step-title
		margin-top: 33px
		margin-bottom: 13px
	&__arrow
		position: absolute
		top: 18px
		&_left
			left: 175px
		&_right
			left: 567px
	&__arrow-pic
		width: 173px
		height: 9px
		background: $sprite
		background-position: 0px -1018px
		margin-top: 12px
.our-equipment
	position: relative
	padding-left: 160px
	&__text-block
		display: table
		width: 100%
		margin: 30px auto
	&__left
		width: 35%
		float: left
	&__right
		width: 56%
		float: right
	&__text-position
		width: 300px
		position: absolute
		top: 170px
		left: 160px
		font-style: italic
	&__plus-position
		width: 42px
		height: 42px
		background: $sprite
		background-position: 0px -1027px
		position: absolute
		top: 45px
		left: 440px
.why-choose-us
	width: 780px
	margin: 0 auto
	&__sections
		display: table
		width: 100%
	&__section
		width: 33%
		height: 260px
		margin-top: 50px
		margin-bottom: 10px
		float: left
		padding-right: 10px
		box-sizing: border-box
	&__pic
		background: $sprite
		width: 60px
		height: 50px
		&_1
			background-position: 0px -1069px
		&_2
			background-position: -60px -1069px
		&_3
			background-position: -120px -1069px
		&_4
			background-position: -180px -1069px
		&_5
			background-position: -240px -1069px
		&_6
			background-position: -300px -1069px
	&__section-title
		margin-top: 40px
		margin-bottom: 12px
	&__section-text
		margin-bottom: 10px
		width: 215px
.laser-show-at-the-wedding
	position: relative
	margin: 65px 0 50px
	padding-right: 80px
	box-sizing: border-box
	display: table
	width: 100%
	&__text-for-h2
		position: absolute
		top: -120px
		left: 405px
	&__title
		margin-bottom: 20px
	&__button-position
		position: absolute
		top: 345px
		left: 490px
	&__left
		width: 56%
		float: left
	&__right
		width: 44%
		float: right
		text-indent: 10px
	&__video
		width: 460px
		height: 345px
		background: black
		text-align: center
.laser-show-at-your-event
	position: relative
	margin: 65px 0 50px
	padding-left: 80px
	box-sizing: border-box
	display: table
	width: 100%
	&__text-for-h2
		position: absolute
		top: -176px
		left: 565px
	&__title
		margin-bottom: 20px
	&__button-position
		position: absolute
		top: 345px
		left: 570px
	&__left
		width: 56%
		float: left
	&__right
		width: 44%
		float: right
		text-indent: 10px
	&__video
		width: 460px
		height: 345px
		background: black
		text-align: center
.laser-show-at-the-corporate-event
	position: relative
	margin: 65px 0 50px
	padding-right: 80px
	box-sizing: border-box
	display: table
	width: 100%
	&__text-for-h2
		position: absolute
		top: -116px
		left: 475px
	&__title
		margin-bottom: 20px
	&__button-position
		position: absolute
		top: 345px
		left: 490px
	&__left
		width: 56%
		float: left
	&__right
		width: 44%
		float: right
		text-indent: 10px
	&__video
		width: 460px
		height: 345px
		background: black
		text-align: center
.order-call-fixed
	position: fixed
	bottom: 25px
	right: 3%
	background: #00163a
	width: 210px
	height: 210px
	border-radius: 300px
	display: table
	text-decoration: none
	&__round-two
		background: #00294d
		width: 168px
		height: 168px
		margin: 21px
		border-radius: 300px
		display: table
	&__round-boder
		background: $black
		width: 120px
		height: 120px
		margin: 21px
		border: 3px solid $light-blue
		border-radius: 300px
		display: table
		transition-duration: $transition-duration
		&:hover
			background: $light-blue
			color: $white
	&__text
		display: table
		padding-top: 40px