- var title = 'Большая рыба'
doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		title
			=title
		meta(name='keywerds', content='')
		meta(name='description', content='')
		link(rel='stylesheet', href='css/styles.css')
		<!-- Ульянкин Виктор -->
	body.body
		.spots
			.spots__position
				.spots__item.spots__item_1.parallax-spot-js
					.spots__item-layer.spots__item-layer_main.layer(data-depth='2.00')
				.spots__item.spots__item_2.parallax-spot-js
					.spots__item-layer.layer(data-depth='2.00')
				.spots__item.spots__item_3.parallax-spot-js
					.spots__item-layer.layer(data-depth='2.00')
				.spots__item.spots__item_4.parallax-spot-js
					.spots__item-layer.layer(data-depth='2.00')
				.spots__item.spots__item_5.parallax-spot-js
					.spots__item-layer.layer(data-depth='2.00')
				.spots__item.spots__item_6.parallax-spot-js
					.spots__item-layer.layer(data-depth='2.00')
				.spots__item.spots__item_7.parallax-spot-js
					.spots__item-layer.layer(data-depth='2.00')
				.spots__item.spots__item_8.parallax-spot-js
					.spots__item-layer.layer(data-depth='2.00')
				.spots__item.spots__item_9.parallax-spot-js
					.spots__item-layer.layer(data-depth='2.00')
		.rays#rays-js
			.rays__item.rays__item-right.rays__item_1(data-top='0')
				img.rays__img(src='img/rays.png')
			.rays__item.rays__item-left.rays__item_2(data-top='1654')
				img.rays__img.rays__img_left(src='img/rays.png')
			.rays__item.rays__item-right.rays__item_3(data-top='3634')
				img.rays__img(src='img/rays.png')
			.rays__item.rays__item-left.rays__item_4(data-top='5504')
				img.rays__img.rays__img_left(src='img/rays.png')
		section.wrapper
			header.header
				.header__info.body__table
					.header__info-left
						a.body__ss.body__ss-min.body__ss-min_vk(href='https://new.vk.com/big_fish_public', alt='Мы в Вконтакте', title='Мы в Вконтакте')
						a.body__ss.body__ss-min.body__ss-min_insta(href='https://www.instagram.com/bigfishufa/', alt='Мы в Инстаграм', title='Мы в Инстаграм')
					.header__info-right
						a.header__phone(href='tel:+79872540510') +7 (987) 254 05 10
						br
						br
						a.body__float-right.body__button.body__button_min-blue.freepopup(href='#order-call') Заказать звонок
				.header__logo.body__table
					.header__logo-item.header__logo-rays
					.header__logo-item.header__logo-title
					.header__logo-item.header__logo-fish
				nav.header__nav.body__table
					.body__table-cell
						a.body__underline-blue(href='#nav1') На Ваше торжество
					.body__table-cell
						a.body__underline-blue(href='#nav2') На  свадьбу
					.body__table-cell
						a.body__underline-blue(href='#nav3') На корпоративное мероприятие
			h1.body__h1-hide
				=title
			article.content
				section.section.body__center
					header
						h2 Лучше один раз увидеть!
					article
						.body__text-blue.body__text-big Посмотрите видеоотчеты о нашей работе!
						br
						.slider
							ul.slider__bxslider
								li
									.body__video.body__generate-iframe-js(data-width='660', data-height='371', data-src='https://www.youtube.com/embed/iGnnMEVl3qA', data-n='0')
									br
									.body__text-blue Шоу на День Рождения
								li
									.body__video.body__generate-iframe-js(data-width='660', data-height='371', data-src='https://www.youtube.com/embed/OZ0S7ZAZ9kg', data-n='1')
									br
									.body__text-blue Корпоративное мероприятие
								li
									.body__video.body__generate-iframe-js(data-width='660', data-height='371', data-src='https://www.youtube.com/embed/n1iS9u5AdKk', data-n='2')
									br
									.body__text-blue Свадебное лазерное шоу
							.slider__nav-button.slider__nav-button_prew#slider__nav-button_prew
							.slider__nav-button.slider__nav-button_next#slider__nav-button_next
						br
						#playYoutube воспроизведение
						#pauseYoutube пауза
						.body__text-big Яркие события, о которых говорят с восхищением!
						br
						br
						a(href='#copy-form-clone').body__button.body__button_yellow.body__text-medium.freepopup Оставить заявку
				section.section
					header
						h2.body__h2-margin Как мы работаем
					article
						.how-do-we-work.body__center
							.how-do-we-work__arrow.how-do-we-work__arrow_left
								| 1 день
								br
								.how-do-we-work__arrow-pic
							.how-do-we-work__arrow.how-do-we-work__arrow_right
								| 4-5 дней
								br
								.how-do-we-work__arrow-pic
							.how-do-we-work__step
								.how-do-we-work__step-content
									.how-do-we-work__step-num 1
									.body__text-medium.body__text-light-blue.how-do-we-work__step-title Знакомство
									.body__lh20
										| Вы звоните 
										br
										| или оставляете 
										br
										| заявку!
							.how-do-we-work__step
								.how-do-we-work__step-content.body__center
									.how-do-we-work__step-num 2
									.body__text-medium.body__text-light-blue.how-do-we-work__step-title Брифинг
									.body__lh20
										| Мы обсуждаем 
										br
										| детали 
										br
										| и варианты сценария.
							.how-do-we-work__step
								.how-do-we-work__step-content.body__float-right
									.how-do-we-work__step-num 3
									.body__text-medium.body__text-light-blue.how-do-we-work__step-title День мероприятия
									.body__lh20
										| Вы и Ваши гости 
										br
										| наслаждаетесь 
										br
										| профессиональным шоу!
						br
						br
						br
						a(href='#copy-form-clone').body__button.body__button_yellow.body__text-medium.freepopup Оставить заявку
				section.section
					header
						h2.body__h2-margin Наше оборудование
					article
						.our-equipment
							.our-equipment__text-position Мировые лидеры лазерной индустрии. На рынке более 15 лет.
							.our-equipment__plus-position
							.our-equipment__text-block
								.our-equipment__left
									.h2 LaserSport
									.body__text-medium.body__text-blue Сертифицированное лазерное оборудование
								.our-equipment__right
									.h2 Pangolin Beyond
										span.body__text-medium.body__text-blue.body__no-bold  (США)
									.body__text-medium.body__text-blue Лицензионное программное обеспечение от мировых лидеров лазерной индустрии
							img.body__float-right(src='img/pangolin.png', alt=title, title=title)
				section.section
					header
						h2.body__h2-margin Почему выбирают нас
					article
						.why-choose-us
							.why-choose-us__sections
								.why-choose-us__section
									.why-choose-us__pic.why-choose-us__pic_1
									.why-choose-us__section-title.body__text-medium.body__text-blue Гарантия качества
									.why-choose-us__section-text.body__lh20 Оборудование и программное обеспечение от мировых лидеров индустрии.
								.why-choose-us__section
									.why-choose-us__pic.why-choose-us__pic_2
									.why-choose-us__section-title.body__text-medium.body__text-blue Экономия денег
									.why-choose-us__section-text.body__lh20 Возможность сделать шоу под ограниченный бюджет.
								.why-choose-us__section
									.why-choose-us__pic.why-choose-us__pic_3
									.why-choose-us__section-title.body__text-medium.body__text-blue Уникальность
									.why-choose-us__section-text.body__lh20 Наши художники учтут любое Ваше желание.
									.why-choose-us__section-text.body__lh20 Тематика и набор визуальных сюжетов могут быть любыми!
								.why-choose-us__section
									.why-choose-us__pic.why-choose-us__pic_4
									.why-choose-us__section-title.body__text-medium.body__text-blue Контроль и точность
									.why-choose-us__section-text.body__lh20 Каждое шоу проектируется индивидуально под место проведения мероприятия.
								.why-choose-us__section
									.why-choose-us__pic.why-choose-us__pic_5
									.why-choose-us__section-title.body__text-medium.body__text-blue Мобильность
									.why-choose-us__section-text.body__lh20 Шоу можно провести в уютном кафе, банкетном зале или на открытом воздухе.
								.why-choose-us__section
									.why-choose-us__pic.why-choose-us__pic_6
									.why-choose-us__section-title.body__text-medium.body__text-blue Восторг зрителей
									.why-choose-us__section-text.body__lh20 Искрение слова восхищения от гостей праздника!
							.body__text-big.body__center Остались вопросы? С удовольствием ответим!
							br
							br
							br
							a(href='#copy-form-clone').body__button.body__button_yellow.body__text-medium.freepopup Оставить заявку
				section.section#nav2
					header
						h2.body__uppercase.body__h2-big.body__underline-blue.body__underline-blue_h2 ЛАЗЕРНОЕ ШОУ <br/>НА СВАДЬБУ
					article
						.laser-show-at-the-wedding
							.laser-show-at-the-wedding__text-for-h2.body__text-big.body__text-light-blue от 5 000 рублей за один час
							.laser-show-at-the-wedding__left
								.laser-show-at-the-wedding__video.body__generate-iframe-js(data-width='460', data-height='345', data-src='https://www.youtube.com/embed/n1iS9u5AdKk')
							.laser-show-at-the-wedding__right
								.laser-show-at-the-wedding__title.body__text-big Хотите уникальный сценарий?
								.body__text-blue Ваша свадьба достойна самых сильных эмоций, самого яркого света и самых прекрасных образов!
								br
								.body__text-blue Мы дарим Вам не просто лазерное шоу, мы дарим Вам искусство!
							.laser-show-at-the-wedding__button-position
								a(href='#copy-form-clone').body__button.body__button_yellow.body__text-medium.freepopup Оставить заявку
				section.section#nav1
					header
						h2.body__uppercase.body__h2-big.body__underline-blue.body__h2-margin.body__underline-blue_h2 ЛАЗЕРНОЕ ШОУ <br/>НА ВАШЕ ТОРЖЕСТВО
					article
						.laser-show-at-your-event
							.laser-show-at-your-event__text-for-h2.body__text-big.body__text-light-blue от 5 000 рублей за один час
							.laser-show-at-your-event__left
								.laser-show-at-your-event__video.body__generate-iframe-js(data-width='460', data-height='345', data-src='https://www.youtube.com/embed/iGnnMEVl3qA')
							.laser-show-at-your-event__right
								.laser-show-at-your-event__title.body__text-big Хотите уникальный сценарий?
								.body__text-blue Гости Вашего торжества будут в восторге от красочного лазерного шоу.
								br
								.body__text-blue Мало кто ожидает, что на праздновании дня рождения или юбилея будет столь ошеломляющее сочетание сочных цветов лазерных лучей и звука
							.laser-show-at-your-event__button-position
								a(href='#copy-form-clone').body__button.body__button_yellow.body__text-medium.freepopup Оставить заявку
				section.section#nav3
					header
						h2.body__uppercase.body__h2-big.body__underline-blue.body__underline-blue_h2 ЛАЗЕРНОЕ ШОУ <br/>НА КОРПОРАТИВНОЕ <br/>МЕРОПРИЯТИЕ
					article
						.laser-show-at-the-corporate-event
							.laser-show-at-the-corporate-event__text-for-h2.body__text-big.body__text-light-blue от 5 000 рублей за один час
							.laser-show-at-the-corporate-event__left
								.laser-show-at-the-corporate-event__video.body__generate-iframe-js(data-width='460', data-height='345', data-src='https://www.youtube.com/embed/OZ0S7ZAZ9kg')
							.laser-show-at-the-corporate-event__right
								.laser-show-at-the-corporate-event__title.body__text-big Хотите уникальный сценарий?
								.body__text-blue Лазерное шоу делает корпоративное мероприятие особым и запоминающимся.
								br
								.body__text-blue Высокотехнологичное и яркое событие, которое отражает достижения компании и дарит коллективу незабываемые эмоции!
							.laser-show-at-the-corporate-event__button-position
								a(href='#copy-form-clone').body__button.body__button_yellow.body__text-medium.freepopup Оставить заявку
				section.section
					form.form#copy-form(action='post.php', method='POST')
						input(type='hidden', name='EVENT', value='send')
						header
							h2.body__h2-big.form__text Оставьте заявку
						article
							.form__text Заполните форму и мы обязательно свяжемся с Вами
							.form__text-section
								.form__text.body__text-big.body__text-blue Ваше имя
								br
								input.form__input.body__text-big(type='text', placeholder='Представьтесь', name='NAME', required, title=' ')
							.form__text-section
								.form__text.body__text-big.body__text-blue Ваш номер телефона
								br
								input.form__input.body__text-big.form__input-phone-js(type='tel', name='PHONE', placeholder='+7 ( _ _ _ ) _ _ _ - _ _ - _ _', required, title=' ')
							.form__text-section
								br
								br
								br
								input.body__button.body__button_max-blue(type='submit', value='Отправить заявку')
			footer.footer.body__center
				.footer__ss
					a.body__ss.body__ss_vk(href='https://new.vk.com/big_fish_public', alt='Мы в Вконтакте', title='Мы в Вконтакте')
					a.body__ss.body__ss_insta(href='https://www.instagram.com/bigfishufa/', alt='Мы в Инстаграм', title='Мы в Инстаграм')
				.footer__logo.body__center
				br
				br
				a.header__phone(href='tel:+79872540510') +7 (987) 254 05 10
				br
				br
				.footer__copyright
					| © 2016 Большая рыба.
					br
					| Лазерная и видеопроекция в Уфе.
		.freepopup-c#order-call
			.freepopup-c__bg
			.freepopup-c__content
				.freepopup-c__content-width
					.freepopup-c__close#freepopup-c__close
					form.form(action='post.php', method='POST')
						input(type='hidden', name='EVENT', value='order_call')
						h2.body__h2-big.form__text Заказать звонок
						.form__text Заполните форму и мы обязательно свяжемся с Вами
						.form__text-section
							.form__text.body__text-big.body__text-blue Ваше имя
							br
							input.form__input.body__text-big(type='text', placeholder='Представьтесь', name='NAME', required, title=' ')
						.form__text-section
							.form__text.body__text-big.body__text-blue Ваш номер телефона
							br
							input.form__input.body__text-big.form__input-phone-js(type='tel', name='PHONE', placeholder='+7 ( _ _ _ ) _ _ _ - _ _ - _ _', required, title=' ')
						.form__text-section
							br
							br
							br
							input.body__button.body__button_max-blue(type='submit', value='Оставить заявку')
		.freepopup-c#thank-you
			.freepopup-c__bg
			.freepopup-c__content
				.freepopup-c__content-width.freepopup-c__content-width-thank-you
					.freepopup-c__close#freepopup-c__close
					noindex
						.h2.body__center Ваша заявка отправлена!
						.body__text-big.body__text-blue.body__center В ближайшее время мы с Вами свяжемся.
		.freepopup-c#copy-form-clone
			.freepopup-c__bg
			.freepopup-c__content
				.freepopup-c__content-width
					.freepopup-c__close#freepopup-c__close
		.order-call-fixed#order-call-fixed
			.order-call-fixed__round-two
				a.order-call-fixed__round-boder.freepopup(href='#order-call')
					.order-call-fixed__text.body__text-medium.body__center Заказать звонок!
		script(src='js/scripts.js')